body {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 999;
    background: #fff;
}

.consultation {
    color: #383838;
    border: 1.5px solid #0071BB;
    border-radius: 100px;
    padding: 9px 16px;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    display: inline-block;
    transition: .4s;
}

.consultation:hover {
    transition: .4s;
    background: #0071BB;
    color: #fff;
}

.consultation i {
    margin-left: 10px;
    font-size: 15px;
    color: #C89D66;
}

.navbar-expand-lg .navbar-collapse {
    justify-content: center;
}

.navbar-nav .nav-link {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    text-transform: capitalize;
}

.navbar-nav .nav-link.active {
    color: #0071BB;
}

.carousel {
    position: relative;
    padding: 0;
}

.carousel-inner .carousel-item {
    height: 80vh;
    background: #000000;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .7;
}

span.bi.bi-arrow-right-circle {
    font-size: 28px;
    color: #fff;
}

span.bi.bi-arrow-left-circle {
    font-size: 28px;
    color: #fff;
}

.carousel-caption.cnt-sec {
    height: 100%;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    bottom: 0;
}

.carousel-caption.cnt-sec i {
    font-weight: 500;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.32em;
    text-transform: capitalize;
    color: #fff;
}

.carousel-caption.cnt-sec i span {
    color: #DCBB87;
}

.carousel-caption.cnt-sec p {
    color: #fff;
    text-align: center;
}

h1 {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 70px;
    text-transform: capitalize;
}

p {
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
    text-align: justify;
    color: #19232D;
}

.fill-btn {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
    background: #C89D66;
    padding: 13px 19px;
    display: inline-block;
    margin: 0 10px;
    overflow: hidden;
    position: relative;
}

.fill-btn span {
    z-index: 1;
    position: relative;
    color: #fff;
}

.fill-btn::before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 8px;
    height: 100%;
    background: #DCBB87;
    transition: .3s;
}

.fill-btn:hover::before {
    content: '';
    position: absolute;
    right: -30px;
}

.fill-btn::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 100%;
    background: #DCBB87;
    transition: .3s;
}

.fill-btn:hover::after {
    content: '';
    position: absolute;
    width: 100%;
    transition: .3s;
}

.outline-btn {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
    border: 1px solid #fff;
    padding: 13px 19px;
    display: inline-block;
    margin: 0 10px;
    position: relative;
    overflow: hidden;
}

.outline-btn span {
    z-index: 1;
    position: relative;
    color: #fff;
    transition: .3s;
}

.outline-btn:hover span {
    z-index: 1;
    position: relative;
    transition: .3s;
}

.outline-btn::before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 10px;
    height: 100%;
    background: #fff;
    transition: .3s;
}

.outline-btn:hover::before {
    content: '';
    position: absolute;
    right: -30px;
}

.outline-btn::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 100%;
    background: #fff;
    transition: .3s;
}

.outline-btn:hover::after {
    content: '';
    position: absolute;
    width: 100%;
    transition: .3s;
}

.abt-sec {
    padding: 60px 0;
}

.read-more-btn {
    font-weight: 500;
    font-size: 15px;
    line-height: 30px;
    color: #0071BB;
    font-style: normal;
    transition: .4s;
}

.welocome-div {
    background-image: url(../img/abt-bg.svg);
    background-position: right;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}

.welocome-div h2 {
    font-weight: 600;
    font-size: 50px;
    line-height: 67px;
    font-family: 'Playfair Display';
    font-style: normal;
}

.welocome-div span {
    font-size: 140px;
    color: #0071BB;
    font-weight: 600;
    display: block;
    line-height: 110px;
}

.welocome-div i {
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 35px;
    letter-spacing: 1.18em;
    text-transform: uppercase;
    color: #19232D;
    display: block;
} 

.read-more-btn i {
    font-size: 23px;
    line-height: 0;
    color: #C89D66;
}

label {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-transform: capitalize;
    color: #19232D;
}

label span {
    color: #0071BB;
}

h2 {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 53px;
    text-transform: capitalize;
    color: #19232D;
}

h2 span {
    color: #0071BB;
}

.area-exp-full-wrap {
    columns: 5;
    gap: 0;
    padding: 0;
}

.single-exp-wrap {
    display: block;
    width: 100%;
    height: 375px;
    position: relative;
    background-color: #000000;
    overflow: hidden;
}

.single-exp-wrap .exp-cnt:hover {
    background: #0071BB;
    transition: .4s;
}

.single-exp-wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .6;
}

.single-exp-wrap b {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: calc(100% - 32px);
    height: calc(100% - 32px);
    border: 2px solid #fff;
    z-index: 1;
    margin: 16px;
}

.exp-cnt {
    position: absolute;
    z-index: 99;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
    height: 100%;
    padding: 0 50px;
    transition: .4s;
}

.single-exp-wrap:hover .exp-cnt p {
    margin-top: 15px;
    height: auto;
    opacity: 1;
    transition: .4s;
}

.exp-cnt p {
    color: #ffffff;
    text-align: center;
    opacity: 0;
    height: 0;
    margin-bottom: 0;
    transition: .4s;
}

.exp-cnt span {
    width: 60px;
    height: 60px;
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
    transition: .4s;
}

.exp-cnt span img {
    opacity: 1;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.exp-cnt label {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    text-transform: capitalize;
    color: #FFFFFF;
    text-align: center;
}

.exp-cnt .read-more-btn {
    color: #fff;
    opacity: 0;
    height: 0;
    transition: .4s;
    display: flex;
    align-items: center;
}

.single-exp-wrap:hover .exp-cnt .read-more-btn {
    opacity: 1;
    height: 30px;
    transition: .4s;
}

.single-exp-wrap:hover .exp-cnt span {
    height: 0;
    margin-bottom: 0;
    transition: .4s;
}

.our-approch_wrap {
    background: #062847;
    padding: 40px 20px;
    text-align: center;
    height: 100%;
    transition: .4s;
    margin-bottom: 15px;

}

.our-approch_wrap:hover {
    background: #0071BB;
    transition: .4s;
}

.our-approch_wrap:hover span {
    background: rgba(255, 255, 255, 0.2);
    transition: .4s;
}

.our-approch_wrap label {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 33px;
    color: #fff;
    margin-bottom: 15px;
}

.our-approch_wrap p {
    color: #fff;
    text-align: center;
}

.our-approch_wrap .read-more-btn {
    font-weight: 600;
    color: #C89D66;
    display: flex;
    align-items: center;
    justify-content: center;
}

.our-approch_wrap span {
    width: 100px;
    height: 100px;
    background: rgba(255, 255, 255, 0.07);
    border-radius: 50%;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    transition: .4s;
}

.our-approch_wrap .ring-me {
    width: 40px;
    height: 40px;
    background-position-x: 0px !important;
    transition: .4s;
    background-image: url(../img/aproch-icon-1.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.our-approch_wrap:hover .ring-me {
    background-position-x: -40px !important;
    transition: .4s;
}

.our-approch_wrap .abt-me {
    width: 40px;
    height: 40px;
    background-position-x: 0px !important;
    transition: .4s;
    background-image: url(../img/aproch-icon-2.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.our-approch_wrap:hover .abt-me {
    background-position-x: -40px !important;
    transition: .4s;
}

.our-approch_wrap .book-me {
    width: 40px;
    height: 40px;
    background-position-x: 0px !important;
    transition: .4s;
    background-image: url(../img/aproch-icon-3.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.our-approch_wrap:hover .book-me {
    background-position-x: -40px !important;
    transition: .4s;
}

.our-approch_wrap:hover i {
    color: #fff;
    transition: .4s;
}

.our-approch_wrap:hover .read-more-btn, i {
    color: #fff;
    transition: .4s;
}

.team-wrap {
    background: #EEF5F9;
    padding-top: 40px;
    background-image: url(../img/bg-pen.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-top: -50px;
}

.team-wrap .row {
    height: 70vh;
}

.team-img-wrap {
    width: 65%;
    margin: 0 auto;
}

.team-img-wrap img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.our-attorney-wrap {
    background-color: #062847;
    background-image: url(../img/bg-pattern.svg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    padding: 60px 0;
}

.meet-wrap {
    background: #fff;
    padding: 20px;
    position: relative;
    margin-top: -80px;
}

.meet-wrap .outline-btn {
    color: #0B202E;
    border: 1px solid #0B202E;
}

.meet-wrap .outline-btn span {
    color: #0B202E;
}

.meet-wrap .outline-btn::before {
    background: #c89d66;
    transition: .3s;
}

.outline-btn::after {
    background: #c89d66;
    transition: .3s;
}

.meet-wrap .brdr {
    border: 1px solid #C89D66;
    padding: 40px 140px;
}

.satisfy-customer {
    background: #062037;
    padding: 50px 25px;
    text-align: center;
}

.satisfy-customer span {
    width: 110px;
    height: 110px;
    margin: 0 auto;
    margin-bottom: 15px;
    display: block;
}

.satisfy-customer span img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.satisfy-customer h2 {
    color: #c89d66;
}

.satisfy-customer label {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    text-transform: capitalize;
    color: #FFFFFF;
}

.news-wrap {
    margin-bottom: 30px;
}

h3 {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 33px;
    text-transform: capitalize;
    color: #19232D;
}

.news-wrap span {
    width: 100%;
    height: 270px;
    border: 4px solid #C89D66;
    display: block;
    margin-bottom: 20px;
}

.news-wrap span img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.date-wrap label {
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    text-transform: capitalize;
    color: #0071BB;
    position: relative;
    padding-left: 35px;
}

.date-wrap label::before {
    content: '';
    position: absolute;
    left: 0;
    top: 3px;
    background: url(../img/date.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 23px;
    height: 23px;
}

.date-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.date-wrap .read-more-btn {
    display: flex;
    align-items: center;
    color: #C89D66;
}

.our-attorney-wrap.events {
    padding-bottom: 40px;
}

.our-attorney-wrap.events .read-more-btn {
    color: #fff;
}

.our-attorney-wrap.events label {
    color: #fff;
}

.our-attorney-wrap.events h2 {
    color: #fff;
}

.gall-card {
    width: 100%;
    position: relative;
    display: block;
    text-decoration: none;
    transition: .4s;
}

.gall-card:hover {
    background: #0071BB;
    transition: .4s;
}

.gall-card span {
    display: block;
    width: 100%;
    height: 650px;
    transition: .4s;
}

.gall-card:hover span {
    opacity: 0;
    transition: .4s;
}

.gall-card span img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .4s;
}

.gall-card .cnt-wrap {
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
    width: 100%;
    padding: 30px;
    background: linear-gradient(180.17deg, rgba(25, 35, 45, 0) 21.69%, #0B202E 99.85%);
    transition: .4s;
}

.gall-card .cnt-wrap h3 {
    color: #fff;
}

.gall-card .cnt-wrap label {
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    text-transform: capitalize;
    color: #C89D66;
}

.gall-card:hover .cnt-wrap label {
    opacity: 0;
    transition: .4s;
}

.gall-card:hover .cnt-wrap {
    transition: .4s;
    background: transparent;
    bottom: 190px;
}

.gall-card .cnt-wrap p {
    height: 0;
    opacity: 0;
    margin-bottom: 0;
    transition: .4s;
}

.gall-card:hover .cnt-wrap p {
    height: auto;
    opacity: 1;
    transition: .4s;
    color: #fff;
}

.gall-card .read-more-btn {
    height: 0;
    transition: .4s;
    opacity: 0;
}

.gall-card:hover .read-more-btn {
    color: #fff;
    transition: .4s;
    height: auto;
    opacity: 1;
}

.contact-form-wrap {
    margin: 50px 0;
}

.contact-form-wrap .dtl-wrap {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
}

.contact-form-wrap span {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.contact-form-wrap span img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.contact-form-wrap .dtl-wrap label {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 33px;
    text-transform: capitalize;
    color: #C89D66;
    
}

.contact-form-wrap .dtl-wrap p {
    margin-bottom: 0;
}

input[type="text"] {
    border: 1px solid #8798AF;
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    outline: none;
}

input::placeholder {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    text-transform: capitalize;
    color: #C7CCD1;
}

textarea {
    border: 1px solid #8798AF;
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    outline: none;
    min-height: 120px;
}

textarea::placeholder {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    text-transform: capitalize;
    color: #C7CCD1;
}

.contact-form-wrap form .fill-btn {
    margin: 0 !important;
}

.contact-form-wrap form .fill-btn span {
    margin-right: 0 !important;
}

.reach-us {
    display: flex;
    justify-content: center;
    align-items: center;
}

.reach-us a {
    margin: 15px 20px;

}

.social_wrap a {
    width: 40px;
    height: 40px;
    display: inline-block;
    border: 1px solid #ffffff;
    margin: 0 10px;
    transition: .4s;
    border-radius: 50%;
}

.social_wrap a:hover {
    background-color: #C89D66;
    border: 1px solid #C89D66;
    transition: .4s;
}

.social_wrap .facebook {
    background: url(../img/facebook.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.social_wrap .twitter {
    background: url(../img/twitter.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.social_wrap .youtube {
    background: url(../img/youtube.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.social_wrap .instagram {
    background: url(../img/instagram.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.social_wrap {
    margin: 20px 0;
    text-align: center;
}

.reach-us a i {
    font-size: 20px;
    color: #C89D66;
    margin-right: 10px;
}

.reach-us a span {
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    text-transform: lowercase;
    color: #FFFFFF;
}

footer {
    background: #0071BB;
    padding: 0 !important;
}

footer ul {
    list-style: none;
    padding-left: 0 !important;
    margin-bottom: 0;
    padding: 20px 0;
    border-bottom: 1px solid #ffffff;
    text-align: center;
    margin-top: 0;
}

footer ul li {
    display: inline-block;
    margin: 0 15px;
    padding-left: 0;
}

footer ul li a {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-transform: capitalize;
    color: #FFFFFF;
}

footer ul li::before {
    content: none;
}

footer ul li a:hover {
    color: #ffffff;
}

.copyright {
    width: 100%;
    background: #062847;
    color: #fff;
    padding: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
}


.overview-sec {
    background: #062847;
    position: relative;
}

.over-cnt-div {
    padding: 50px 100px;
}

.overview-sec::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    background: url(../img/over-bg.svg);
    width: 500px;
    height: 350px;
    background-repeat: no-repeat;
    background-size: contain;
}

.over-cnt-div label {
    color: #fff;
}

.over-cnt-div label span {
    color: #C89D66;
}

.over-cnt-div h2 {
    color: #fff;
}

.over-cnt-div p {
    color: #fff;
}

.over-sec-wrap {
    width: 100%;
}

.over-sec-wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.inner-banner .row {
    position: relative;
    height: 45vh;
}

.inner-banner-img-wrap {
    width: 100%;
    background: #000;
    position: absolute;
    left: 0;
    top: 0;
    padding: 0;
    height: 100%;
    z-index: -99;
}

.inner-banner-img-wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .6;
}

.inner-banner h2 {
    color: #fff;
}

.abt-img-wrap {
    width: 100%;
    height: 500px;
}

.abt-img-wrap img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

h4 {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-transform: capitalize;
}

.why-us-wrap {
    width: 100%;
    background: #062037;
    padding: 50px 80px;
    text-align: center;
    color: #fff;
    min-height: 330px;
    margin-bottom: 20px;
}

.why-us-wrap span {
    width: 110px;
    height: 110px;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px !important;
}

.why-us-wrap span img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.why-us h2 {
    color: #fff;
}

.atterny-img {
    width: 100%;
    height: 360px;
    border: 2px solid #C89D66;
    border-radius: 7px 7px 0px 0px;
}

.attorny-cnt {
    background: #062847;
    padding: 18px 20px;
    color: #fff;
    margin: 20px;
    margin-top: -60px;
    z-index: 5;
    position: relative;
    text-align: center;
    margin-bottom: 30px;
}

.attorny-cnt h3 {
    color: #fff;
}

.attorny-cnt i {
    color: #C89D66;
    margin: 0 8px auto;
}

.attorny-cnt p {
    margin-bottom: 0;
    color: #fff;
    display: inline-block;
}

.atterny-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.miss-vis-sec {
    background: #EEF4F9;
    padding: 70px 0;
}

.full-sec {
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 5.9027px 79.6865px rgba(0, 0, 0, 0.09);
    padding: 50px;
    height: 100%;
}

.full-sec span {
    width: 110px;
    height: 110px;
    display: block;
    margin-bottom: 15px !important;
    margin: 0 auto;
}

.full-sec span img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.full-sec p {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.contact_ad.ad_1 {
    background: url(../img/contact_bg_2.jpg) fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px;
    text-align: center;
}

.contact_ad.ad_1 p {
    text-align: center;
    color: #fff;
}

.contact_ad.ad_1 h2 {
    color: #ffffff;
}

ul {
    list-style: none;
    margin-top: 20px;
    margin-bottom: 0;
    padding-left: 0;
}

ul li {
    position: relative;
    padding-left: 30px;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 10px;
    color: #19232D;
}

.main-champ {
    width: 70%;
}

ul li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 2px;
    width: 18px;
    height: 18px;
    background-image: url(../img/tick.svg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.bro-div {
    border-bottom: 1px solid #E4E4E4;
}

.practice-area {
    background: #F6F7F8;
    border-radius: 10px;
    padding: 15px 25px 25px 25px;
    margin-bottom: 20px;
}

.practice-area.brochure a {
    display: block;
    border-bottom: unset;
}

.practice-area a {
    text-decoration: none;
    display: flex;
    border-bottom: 1px solid #E4E4E4;
    padding: 15px 0;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 24px;
    text-transform: capitalize;
    color: #19232D;
    align-items: center;
    justify-content: space-between;
    transition: .4s;
}

.practice-area a.active {
    color: #0071BB;
}

.practice-area a:hover {
    color: #0071BB;
    transition: .4s;
}

.practice-area a i {
    color: #C89D66;
    font-size: 15px;
    line-height: 0;
    font-style: normal;
}

.practice-area h4 {
    position: relative;
}

.practice-area h4::after {
    position: absolute;
    content: '';
    top: 3px;
    left: -25px;
    width: 5px;
    height: 25px;
    background: #0071BB;
}

.serv-inner-sec {
    padding: 60px 0;
}

.serv-img-wrap {
    width: 100%;
    height: 60vh;
    margin-bottom: 20px;
}

.serv-img-wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.serv-img-wrap.brdr {
    border: 4px solid #C89D66;
}

.quote-right {
    background: #062847;
    padding: 60px;
    margin-bottom: 30px;
}

.quote-right p {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 31px;
    text-transform: capitalize;
    color: #fff;
    margin-bottom: 0;
    position: relative;
}

.quote-right p::before {
    content: '';
    position: absolute;
    left: -20px;
    top: -30px;
    background: url(../img/quote-1.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
}

.quote-right p::after {
    content: '';
    position: absolute;
    right: -20px;
    bottom: -30px;
    background: url(../img/quote-2.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
}

.admin-dtl span {
    display: inline-block;
    color: #0071BB;
    font-size: 16px;
    font-weight: 400;
}

.practice-area.recent span {
    display: block;
    width: 75px;
    height: 75px;
    overflow: hidden;
    border-radius: 7px;
    margin-right: 15px;
}

.practice-area.recent span img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.practice-area.recent p {
    margin-bottom: 0;
    text-align: left;
}

.practice-area.tags a {
    display: inline-block;
    background: #FFFFFF;
    border: 1px solid #DCBB87;
    border-radius: 10px;
    padding: 4px 10px;
    margin-right: 8px;
    margin-bottom: 10px;
}

.serv-img-wrap.wid-hig {
    height: 40vh;
}

.serv-listig .single-exp-wrap {
    margin-bottom: 20px;
}

.banner-wrap {
    margin-top: 86px;
}






























/* // responsive // */


@media (max-width: 1399.98px) {

    .exp-cnt {
        padding: 0 25px;
    }

    .single-exp-wrap {
        height: 300px;
    }

    .exp-cnt span {
        width: 50px;
        height: 50px;
        margin-bottom: 10px;
    }

    .single-exp-wrap b {
        width: calc(100% - 30px);
        height: calc(100% - 30px);
        margin: 15px;
    }

    .why-us-wrap {
        padding: 40px;
    }

    .over-cnt-div {
        padding: 40px 30px;
    }

    .serv-img-wrap {
        height: 40vh;
    }

}


@media (max-width: 1199.98px) {

    .carousel-inner .carousel-item {
        height: 55vh;
        background: #000000;
    }

    .welocome-div h2 {
        font-size: 45px;
        line-height: 35px;
    }

    .welocome-div span {
        font-size: 125px;
    }

    .welocome-div i {
        font-size: 18px;
        line-height: 25px;
    }

    p {
        font-size: 14px;
        line-height: 26px;
    }

    .area-exp-full-wrap {
        columns: 3;
    }

    span.bi.bi-arrow-right-circle {
        font-size: 24px;
        color: #fff;
    }

    span.bi.bi-arrow-left-circle {
        font-size: 24px;
        color: #fff;
    }

    .outline-btn {
        padding: 10px 20px;
    }

    .fill-btn {
        padding: 10px 20px;
    }

    .our-approch_wrap span {
        width: 80px;
        height: 80px;
        margin-bottom: 15px;
    }
    .our-approch_wrap:hover .ring-me {
        background-position-x: -35px !important;
        transition: .4s;
    }
    
    .our-approch_wrap .ring-me {
        width: 35px;
        height: 35px;
    }

    .our-approch_wrap:hover .abt-me {
        background-position-x: -35px !important;
        transition: .4s;
    }

    .our-approch_wrap .abt-me {
        width: 35px;
        height: 35px;
    }

    .our-approch_wrap:hover .book-me {
        background-position-x: -35px !important;
        transition: .4s;
    }

    .our-approch_wrap .book-me {
        width: 35px;
        height: 35px;
    }

    .our-approch_wrap label {
        font-size: 22px;
        line-height: 25px;
        margin-bottom: 10px;
    }

    .satisfy-customer span {
        width: 90px;
        height: 90px;
        margin-bottom: 10px;
    }

    h2 {
        font-size: 35px;
    }

    .satisfy-customer {
        padding: 35px 25px;
    }

    h3 {
        font-size: 24px;
    }

    .date-wrap {
        display: flex;
        align-items: flex-start;
        margin: 20px 0;
        flex-direction: column;
    }

    .news-wrap span {
        height: 250px;
        border: 3px solid #C89D66;
        margin-bottom: 15px;
    }

    .gall-card span {
        height: 500px;
    }


}

@media (max-width: 991.98px) {

    .navbar-nav {
        text-align: center;
    }

    .navbar-toggler:focus {
        box-shadow: unset;
    }

    .navbar-nav .nav-link {
        margin-bottom: 10px;
    }

    .navbar-collapse {
        padding: 50px;
        width: 100%;
        background: #eef4f9;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .navbar-toggler.collapsed {
        border: none;
        outline: none;
        box-shadow: none;
    }

    .area-exp-full-wrap {
        columns: 1 !important;
    }

    .our-approch_wrap {
        height: auto;
    }

    .team-img-wrap {
        width: 100%;
    }

    .meet-wrap .brdr {
        padding: 30px 40px;
    }

    .meet-wrap {
        padding: 10px;
        margin-top: -120px;
    }

    .satisfy-customer h2 {
        font-size: 25px;
    }

    .satisfy-customer {
        padding: 30px 10px !important;
    }

    .news-wrap span {
        height: 200px !important;
        border: 2px solid #C89D66 !important;
        margin-bottom: 15px;
    }

    h3 {
        font-size: 18px !important;
        line-height: 28px !important;
    }

    .date-wrap {
        margin: 15px 0;
    }
    
}

@media (max-width: 767.98px) {

    .contact_ad.ad_1 {
        padding: 50px;
    }

    .practice-area.recent a {
        justify-content: flex-start;
    }

    .reach-us {
        flex-direction: column;
    }

    .reach-us a {
        margin: 5px 0;
    }

    .date-wrap {
        flex-direction: unset !important;
    }

    .welocome-div {
        text-align: center;
        margin-bottom: 15px;
    }

    .abt-sec p {
        text-align: center;
    }

    .abt-sec .read-more-btn {
        text-align: center;
        display: block;
    }

    h1 {
        font-size: 45px;
        line-height: 55px;
    }

    .team-wrap .row {
        height: 50vh;
    }

    .satisfy-customer {
        margin-top: 25px;
    }

    .gall-card:hover .cnt-wrap {
        bottom: 150px;
    }

    .gall-card span {
        margin-bottom: 20px;
    }
    

}


@media (max-width: 575.98px) {
    .area-exp-full-wrap {
        columns: 1;
    }

    .fill-btn {
        padding: 10px 15px;
    }

    .outline-btn {
        padding: 10px 15px;
    }

    h1 {
        font-size: 30px;
        line-height: 35px;
    }

    .meet-wrap .brdr {
        padding: 20px 10px;
    }

    h2 {
        font-size: 28px;
    }
}